.container{
	margin: 20px;
}
.box1{
	height: 100px;
	width: 100px;
	background-color: red;
	margin: 5px;
}
.box2{
	height: 100px;
	width: 100px;
	background-color:orange;
	margin: 5px;
}
.box3{
	height: 100px;
	width: 140px;
	background-color: slateblue;
	margin: 5px;
}
.box4{
	height: 100px;
	width: 60px;
	background-color: green;
	margin: 5px;
}
.box5{
	height: 100px;
	width: 210px;
	background-color: tomato;
	margin: 5px;
}
.box6{
	height: 210px;
	width: 80px;
	background-color:steelblue;
	margin: 5px;
}
.box7{
	height: 210px;
	width: 100px;
	background-color: blue;
	margin: 5px;
}
.box8{
	height: 210px;
	width: 20px;
	background-color: steelblue;
	margin: 5px;
}
.row{
	display: flex;
	flex-direction: row;
}
.column{
	display: flex;
	flex-direction: column;
}