*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	height: 50px;
	width: 50px;
	background-color: white;
	border-radius: 30px;
}
header{
	position: fixed;
	width: 100%;
	top:0;
	box-shadow: 1px 1px 10px 0 gray;
}
header h1{
	text-align: left;
	top: 0;
	position: fixed;
	margin-left: 60px;
	margin-top: 10px;
	color: white;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header h1.a{
	position: fixed;
	width: 100%;
	top:0;
	text-align: center;
	margin-right: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
	background-color: #1a4588;
}
body{
	text-transform: uppercase;
	background-color: white;
	
}

.calendar{
	display: flex;
	margin: 15vh auto;
	width: 95%;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1rem;

}
.sep-calendar{
	box-shadow: 1px 1px 10px 0 gray;
	border-radius: 10px;
	padding: 10px;
}
.sep-calendar h1{
	text-align: center;
	padding: 1rem;
}
.sep-calendar ul{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	list-style: none;
}
li{
	padding: 5px;
	text-align: center;
}
li:nth-child(7n+1){
	color: rgb(211, 26, 26);
}
li:nth-child(7n){
	color: rgb(211, 26, 26);
}
.prev-month,
.prev-month~li{
	opacity: .5;
}
.first-day,
.first-day~li{
	opacity: 1 !important;
	font-weight: 900;
}
.last-day~li{
	opacity: .5 !important;
	font-weight: 200;
}
.days{
	background-color: #1a4588;
	color:white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}